.swiper-pagination {

    top: calc(50% - 10px) !important;
    height: fit-content;

}




.swiper-pagination-bullet {
    background-color: white !important;
    height: 10px !important;
    width: 10px !important;
}

.swiper-pagination-bullet-active {
    background-color: white !important;
}

@media screen and (min-width:768px) {
    .swiper-pagination {

        top: 33% !important;
        height: fit-content;

    }
}

@media screen and (min-width:1024px) {
    .swiper-pagination {
        left: 0px;
        top: 90% !important;
        width: fit-content !important;

    }

    .swiper-pagination-bullet{
        margin-right: 20px !important;
        height: 15px !important;
        width: 15px !important;
    }
}